# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/
*.code-workspace

# IDE specific files
.idea/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log 